<%- include ../../partials/header.ejs %>

<body>

    <%- include ../../partials/navbar.ejs %>


    <div class="container">
        <br><br>
        <div class="card text-light bg-dark mb-3">
            <div class="card-header">
                <h2>Editar categoria</h2>
            </div>

            <div class="card-body">
                <form method="POST" action="/categories/update">
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <input class="form-control" type="text" name="title"
                        placeholder="<%= category.title %>">
                    <br>
                    <button class="btn btn-light font-weight-bold white-button">Salvar</button>
                </form>
            </div>
        </div>
    </div>


</body>


<%- include ../../partials/footer.ejs %>