<%- include ../../partials/header.ejs %>

<body>

    <%- include ../../partials/navbar.ejs %>

    <div class="container">
        <br><br>
        <div class="card text-light bg-dark mb-3">
            <div class="card-header">
                <h2>Novo artigo</h2>
            </div>

            <div class="card-body">
                <form method="POST" action="/categories/save">
                    <label>Título</label>
                    <input class="form-control" type="text" name="title"
                        placeholder="Defina o título do artigo">
                    <br>

                    <textarea class="form-control" id="article" name="body" 
                        rows="30" placeholder="Escreva o artigo aqui"></textarea>
                    <br>

                    <label>Categoria</label>
                    <select name="category" class="form-control">
                        <% categories.forEach((category) => { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% }) %>
                    </select>
                    <br>

                    <button class="btn btn-light font-weight-bold white-button">Enviar</button>
                </form>
            </div>
        </div>
    </div>


</body>


<%- include ../../partials/footer.ejs %>

<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        language: "pt_BR",
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    });

</script>